.jumbotron {
    background: url("./jumbobg2.png");
}

h1 {
    color: white;
    font-size: 90px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

#heartImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#calculateBtn {
    height: 60px;
    width: 300px;
    margin: 20px auto 0;
}

input {
    height: 60px;
}