.parallax-container {
    height: 300px;
  }

h1 {
    color: white;
    font-size: 90px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}

#heartImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#calculateBtn {
    height: 50px;
    width: 300px;
    background:#E62C3D;
}

#resetBtn {
    background:#E62C3D;
}

#resultText {
    font-size: 24px;
    margin-bottom: 10px;
}

#footerImg {
    height: 300px;
    background-color: black;
}

